.table {
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 1.5em;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
    margin: 10vh 3vw;
    background-color: var(--amarelo-claro);
    overflow: hidden;
    border-collapse: collapse;
}

.table_row:nth-child(even) {
    background-color: var(--branco);
}

th, td {
    padding: .5em;
}

.table_header {
    background-color: var(--preto);
    color: var(--amarelo);
}

.table_header th:nth-child(1) {
    width: 40%;
}